@import url("https://fonts.googleapis.com/css?family=Muli|Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url(/images/simplebg.jpg);
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: whitesmoke;
}
a[name="top"] {
  margin: 0;
  padding: 0;
}
.bg-white {
  background: white;
}

.l-blue {
  color: #a4c1d3;
}

.white {
  color: white;
}

hr {
  color: white;
  border: 0.5px solid white;
}

.red {
  color: #e27e79;
}

.bottom-shadow {
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16);
}

.l-green {
  color: #6bbbbe;
}

.red {
  color: #e27e79;
}

.d-grey {
  color: #707070;
}

.active {
  color: #3277a2;
  background: #dddbdb;
}

.round {
  border-radius: 50%;
}

.font-muli {
  font-family: "Muli", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "nav nav nav nav nav nav nav nav"
    "hero hero hero hero hero hero hero hero"
    ". main main main main main main ."
    ". article article article article article article ."
    ". . aside aside aside aside . ."
    ". . . footer footer . . .";
}

.logo-container {
  display: none;
}

a > h4 {
  display: none;
}

.nav-icons {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.nav-icons a:hover {
  background-color: #d3d3d3;
}

.dropdown > a {
  display: none;
}

.dropdown {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.menu {
  grid-area: nav;
  width: 100%;
  position: fixed;
  z-index: 1;
}

a {
  height: 100%;
  width: 33%;
  padding: 1.5em;
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}

a > i {
  transform: scale(2.5, 2.5);
}

.hero-container {
  grid-area: hero;
  padding-top: 6em;
  display: flex;
  flex-wrap: wrap;
}

.hero1 {
  display: none;
}

.hero1,
.hero2 {
  width: 100%;
  height: 50%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

main {
  grid-area: main;
  margin-top: 5%;
}

main > p,
main > h1 {
  text-align: center;
  margin-bottom: 10%;
}

article {
  grid-area: article;
}

section {
  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 1em;
  width: 2em;
  padding: 2.5em;
  margin-right: 1em;
}

.icon-container > i {
  transform: scale(3.6, 3);
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

aside > p {
  text-align: center;
  font-weight: 400;
  font-size: 0.8em;
}

.icon4 {
  padding: 2em;
  width: 15%;
  height: 20%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1em;
}

.icon4 > i {
  transform: scale(3.4, 3);
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > h5 {
  display: none;
}

.link-icons {
  display: none;
}

.tmu {
  border-radius: 40%;
  margin-top: 2em;
  margin-bottom: -2em;
  padding: 2em;
  width: 25%;
  overflow: hidden;
}

.tmu > i {
  margin-top: -1.2em;
}

@media (min-width: 768px) {
  .hero1,
  .hero2 {
    width: 50%;
    height: 20em;
    display: block;
  }

  .icon-container {
    width: 10%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .icon4 {
    width: 10%;
  }

  .icon-container > i {
    transform: scale(2.8, 3.2);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-areas:
      "nav nav nav nav nav nav nav nav"
      "hero hero hero hero hero hero hero hero"
      ". main main main main main main ."
      ". . article article article . . ."
      ". . article article article . aside ."
      ". . article article article . . ."
      "footer footer footer footer footer footer footer footer";
  }

  .logo-container > img {
    max-width: 100%;
    max-height: 100%;
  }

  .logo-container {
    display: inline-block;
    height: 100%;
    width: 12%;
    overflow: hidden;
    margin-left: 10%;
    top: 0;
    order: 0;
  }

  .dropdown > a {
    display: block;
    position: absolute;
    display: flex;
    height: 2em;
    width: 2em;
    padding: 0;
  }

  .dropdown > a > i {
    align-self: center;
  }

  .dropdown {
    display: inline-block;
    position: relative;
    width: 2.4em;
    height: 2.4em;
    margin-left: 63%;
  }

  .nav-icons > a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2em;
  }

  .nav-icons > a > i {
    margin-top: 16%;
  }

  .nav-icons > a > i,
  .nav-icons > a > h4 {
    height: 2em;
    text-align: center;
  }

  .nav-icons {
    position: absolute;
    width: 1500%;
    display: none;
    margin-left: -240%;
    margin-top: 100%;
    z-index: 1;
  }

  .dropdown:hover .nav-icons {
    display: block;
  }

  .menu {
    height: 3em;
    margin: 0;
    flex-direction: row;
  }

  .dropdown > a > h4 {
    display: inline-block;
    margin: 0;
    margin-right: 80%;
    align-self: center;
  }

  .nav-icons > a > h4 {
    display: inline-block;
  }

  main > h1 {
    margin-bottom: 4%;
    font-size: 2.8vw;
  }
  main > p {
    font-size: 1.8vw;
    text-align: center;
    margin-bottom: 10%;
  }

  aside {
    border-left: 1px solid white;
    z-index: 1;
    margin-left: -20%;
  }

  .icon4,
  aside > p {
    margin-left: 40%;
  }

  article > hr {
    display: none;
  }

  .link-icons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
  }

  .link-icons > a > i {
    align-self: center;
    transform: scale(1.5, 1.5);
  }

  footer {
    width: 100%;
    height: 2.5em;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 4em;
    overflow: hidden;
  }

  footer > h5 {
    display: inline;
  }

  .tmu {
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 100%;
    width: 10%;
    margin-left: 6.5em;
    margin-right: 1.8em;
  }

  .tmu > i {
    margin: 0;
    align-self: center;
  }
}
