@import url("https://fonts.googleapis.com/css?family=Muli|Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url(/images/greenbg.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f0f0f0;
}

.bg-white {
  background: white;
}

hr {
  color: white;
  border: 1px solid white;
}

.shadow {
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16);
}

.l-green {
  color: #74c8f5;
}

.red {
  color: #e27e79;
}

.d-grey {
  color: #707070;
}

.active {
  color: #8ca3b1;
  background: #dddbdb;
}

.round {
  border-radius: 50%;
}

.font-muli {
  font-family: "Muli", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "nav nav nav nav nav nav"
    "hero hero hero hero hero hero"
    ". main main main main ."
    ". article article article article ."
    ". . aside aside . ."
    ". . footer footer . .";
}

.menu {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: sticky;
  align-content: center;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 1;
}

a {
  height: 100%;
  width: 33%;
  padding: 1.5em;
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}

a > i {
  transform: scale(2.5, 2.5);
}

.hero-container {
  grid-area: hero;
  padding-top: 6em;
  display: flex;
  flex-wrap: wrap;
}

.hero1 {
  display: none;
}

.hero1,
.hero2 {
  width: 100%;
  height: 50%;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

main > p,
main > h1 {
  text-align: center;
}

article {
  grid-area: article;
}

section {
  display: flex;
}

.icon-container {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 80%;
  width: 80%;
  padding: 2em;
  margin-top: 3.2em;
  margin-right: 1em;
}

.icon-container > i {
  transform: scale(2.4, 2.8);
}

@media (min-width: 768px) {
  .hero1,
  .hero2 {
    width: 50%;
    height: 20em;
    display: block;
  }

  .icon-container {
    width: 20%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .icon-container > i {
    transform: scale(2.8, 3.2);
  }
}
